.DS_Store
.classpath
.project
.settings/
.idea/
.log
.metadata/
target/
front-end/node_modules/
front-end/npm-debug.log
front-end/app/css/sass/app.all.css
front-end/app/js/bin/
front-end/.gulp/

front-end/app/dest/css/app.min.css
front-end/app/dest/js/app.min.js

src/main/resources/static/css/
src/main/resources/static/fonts/
src/main/resources/static/img/
src/main/resources/static/js/
src/main/resources/static/mobile/minified/

.mvn/
.springBeans
mvnw
mvnw.cmd
data/
src/main/resources/templates/index.html